@require 'normalize.css/normalize.css'

html,
body {

  height: 100%;
  width: 100%;

}

[alt=""] {

  border: 2px solid red;

}

.main {

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  > .badges {

    transition: transform 1s
    max-width: 550px;
    width: 100%;

  }

}